.container {
  height: 100%;
  background: white;
  padding: 0 15px;
  .image{
    display: block;
    width: 200Px;
    height: 300Px;
    margin: 10Px auto;
  }
  .name {
    flex: 1;
    line-height: 100px;
  }
  .btn-view {
    padding: 0 15px;
    button {
      vertical-align: middle;
      margin-right: 10px;
    }
  }
}
