.container {
  height: 100%;
  background: white;
  padding: 0 10Px;
  .operate {
    height: 60Px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .btn{
      width: 30Px;
      height: 30Px;
      line-height: 30Px;
      padding: 0;
    }
  }
}
