.container {
  display: flex;
  flex-wrap: wrap;

  .cat_container {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15Px 0;
  }

  .image {
    width: 60Px;
    height: 60Px;
    border-radius: 4Px;
  }

  .name {
    font-size: 14Px;
    margin-top: 10Px;
  }
}
