.pagination_provider {
  min-height: 100%;
  background-color: #ededed;
  padding: 1Px 15Px;

  .pagination_bottom {
    height: 50Px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loading {
    margin-right: 16Px;
  }

  .desc {
    font-size: 14Px;
    color: #666;
  }
}