.pagination_provider {
  min-height: 100%;
  padding: 1Px 15Px;

  .pagination_bottom {
    height: 50Px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loading {
    margin-right: 16Px;
  }

  .desc {
    font-size: 12Px;
    color: #666;
    font-style: italic;
  }
}