.container {
  min-height: 100%;
  background-color: #ededed;

  .search_wrap {
    padding: 10Px 15Px 0;
    display: flex;
  }

  .searchbar {
    background-color: #FFF;
    height: 30Px;
    border-radius: 4Px;
    font-size: 12Px;
    text-align: center;
    flex: 1;
  }

  .add {
    height: 30Px;
    width: 60Px;
    font-size: 12Px;
    margin-left: 10Px;
  }

  .addbtn {
    width: 60Px;
    height: 30Px;
    line-height: 30Px;
    font-size: 12Px;
  }
 
  .item_wrap {
    background-color: #FFF;
    border-radius: 4Px;
    margin: 15Px 0;
    padding: 0 15Px;
  }

  .top_warp {
    display: flex;
    height: 60Px;
    align-items: center;
    justify-content: space-between;
  }

  .top_left {
    flex: 1;
    display: flex;
    align-items: center;
    .gzhaoImg {
      width: 30Px;
      height: 30Px;
      margin-right: 10Px;
      border-radius: 15Px;
    }
    .gzhaoName {
      font-size: 14Px;
      color: #5d6b93;
    }
  }

  .top_right {
    width: 90Px;
    font-size: 12Px;
    color: #999;
    text-align: right;
  }

  .content_wrap {
    padding: 15Px 0;
    display: flex;
    align-items: center;
  }

  .content_left {
    flex: 1
  }

  .title {
    font-size: 16Px;
    line-height: 1.8;
    color: #333;
  }

  .xinfo {
    margin-top: 10Px;
    display: flex;
    align-items: center;

    .author {
      font-size: 12Px;
    }

    .tag {
        font-size: 10Px;
        margin-left: 10Px;
        border: 1px solid #ededed;
        padding: 3Px 10Px;
        line-height: 1;
        border-radius: 10Px;
        color: #999;
      }
  }

  .content_right {
    width: 75Px;
    height: 75Px;
    margin-left: 15Px;

    .thumb {
      width: 75Px;
      height: 75Px;
      border-radius: 4Px;
    }
  }
}