.container {
  padding: 0 15Px;
  .user_ctx {
    height: 60Px;
    display: flex;
    align-items: center;
  }

  .avatar {
    width: 40Px;
    height: 40Px;
    border-radius: 4Px;
    margin-right: 10Px;
  }

  .content_wrap {
    border-bottom: 1rpx solid #efefef;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .nickname {
    font-size: 16Px;
    color: #333;
  }

  .user_type {
    font-size: 12Px;
    border: 1px solid #efefef;
    padding: 5Px;
    color: #999;
    border-radius: 4Px;
  }
}