.container {
  padding: 0 15Px;
  .user_ctx {
    height: 60Px;
    display: flex;
    align-items: center;
  }

  .avatar {
    width: 40Px;
    height: 40Px;
    border-radius: 4Px;
    margin-right: 10Px;
  }

  .content_wrap {
    border-bottom: 1rpx solid #efefef;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .nickname {
    font-size: 16Px;
    color: #333;
  }

  .user_type {
    font-size: 12Px;
    border: 1px solid #efefef;
    padding: 2px 5Px;
    color: #999;
    border-radius: 4Px;

    &.supermana {
      color: #eb483b;
      border-color: #eb483b;
    }
    &.mana {
      color: #69a0f2;
      border-color: #69a0f2
    }
    &.vip {
      color: #9e5cd2;
      border-color: #9e5cd2
    }
  }
}