.container {
  height: 100%;
  background: white;
  padding: 0 15px;
  .name {
    flex: 1;
    line-height: 100px;
  }
  .btn-view {
    margin-top: 30Px;
    padding: 0 15px;
    .btn {
      width: 200Px;
      height: 40Px;
      line-height: 40Px;
      margin: 0 auto;
    }
  }
}
