.container {
  font-size: 12Px;

  .box_item, .detail_item {
    flex-direction: row;
    align-items: center;
  }

  .box_item {
    display: flex;
    margin-bottom: 15Px;
  }

  .detail_item {
    display: flex;
  }
  
  .detail {
    color: #FFF;
    background-color: #8698b1;
    padding: 5Px 15Px;
    border-radius: 4Px;
    .tip {
      font-size: 10Px;
    }
    .content {
      font-size: 14Px;
    }
  }

  .detail + .detail {
    margin-left: 20rpx;
  }

  .who_icon {
    width: 35Px;
    height: 35Px;
    border: 1Px solid #fff;
    margin-right: 15Px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4Px;
    &.no {
      border: 1Px solid #ccc;
    }
  }
  .category_img {
    width: 35Px;
    height: 35Px;
    border-radius: 4Px;
  }
  .title_text {
    font-size: 18Px;
  }
  
  .info {
    flex: 1;
  }

  .username {
    font-size: 14Px;
  }
  .password {
    font-size: 12Px;
    color: #ccc;
    margin-top: 2Px;
  }

  .animate {
    animation-duration: .3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }

  .box {
    padding: 15Px;
    position: relative;
    z-index: 1;

    margin: 15Px;
    border-radius: 4Px;
    border: 1Px solid #efefef;
    background-color: #FFF;

    overflow: hidden;
    height: 37Px;

    .at-icon {
      color: #cad0d9;
      font-size: 18Px;
      animation-duration: .5s;
    }

    // 正常到激活
    &.normal_to_active {
      animation-name: NormalToActive;

      .at-icon {
        animation-name: NormalToActiveIcon;
      }
    }

    // 正常到非激活
    &.normal_to_unactive {
      animation-name: NormalToUnactive;

      .at-icon {
        animation-name: NormalToUnactiveIcon;
        animation-duration: .3s;
      }
    }

    // 激活到正常
    &.active_to_normal {
      animation-name: ActiveToNormal;

      .detail_item {
        opacity: 0;
      }

      .at-icon {
        animation-name: ActiveToNormalIcon;
      }
    }

    // 激活到非激活
    &.active_to_unactive {
      animation-name: ActiveToUnactive;

      .detail_item {
        opacity: 0;
      }

      .at-icon {
        animation-name: ActiveToUnactiveIcon;
      }
    }

    // 非激活到正常
    &.unactive_to_normal {
      animation-name: UnactiveToNormal;

      .at-icon {
        animation-name: UnactiveToNormalIcon;
      }
    }

    // 非激活到激活
    &.unactive_to_active {
      animation-name: UnactiveToActive;

      .at-icon {
        animation-name: UnactiveToActiveIcon;
      }
    }

    // 持续非激活
    &.unactive {
      height: 37Px;
      border-radius: 0;
      margin: 15Px;
      border-color: transparent;
      background-color: transparent;
    }

  }


  // 正常到激活
  @keyframes NormalToActive {
    from {
      height: 37Px;
      border-radius: 4Px;
      margin: 15Px;
      border-color: #efefef;
    }
    to {
      // height: auto;
      height: 95Px;
      border-radius: 0;
      margin: 20Px 0 0;
      padding: 15Px 25Px;
      border-left-width: 0;
      border-right-width: 0;
      box-shadow: 
        0Px -3Px 8Px #efefef,
        0Px 3Px 8Px #efefef;
    }
  }

  // 正常到非激活
  @keyframes NormalToUnactive {
    from {
      border-radius: 4Px;
      margin: 15Px;
      border-color: #efefef;
      background-color: #FFF;
    }
    to {
      border-radius: 0;
      margin: 15Px;
      border-color: transparent;
      background-color: transparent;
    }
  }

  // 非激活到激活
  @keyframes UnactiveToActive {
    from {
      height: 37Px;
      border-radius: 0;
      margin: 15Px;
      border-color: transparent;
      background-color: transparent;
    }
    to {
      // height: auto;
      height: 95Px;
      border-radius: 0;
      margin: 20Px 0 0;
      padding: 15Px 25Px;
      border-color: #efefef;
      background-color: #FFF;
      box-shadow: 
        0Px -3Px 8Px #efefef,
        0Px 3Px 8Px #efefef;
    }
  }

  // 非激活到正常
  @keyframes UnactiveToNormal {
    from {
      border-radius: 0;
      margin: 15Px;
      border-color: transparent;
      background-color: transparent;
    }

    to {
      border-radius: 4Px;
      margin: 15Px;
      border-color: #efefef;
      background-color: #FFF;
    }
  }

  // 激活到正常
  @keyframes ActiveToNormal {
    from {
      // height: auto;
      height: 95Px;
      border-radius: 0;
      margin: 20Px 0 0;
      padding: 15Px 25Px;
      border-color: #efefef;
      background-color: #FFF;
      box-shadow: 
        0Px -3Px 8Px #dddddd,
        0Px 3Px 8Px #dddddd;
    }

    to {
      height: 37Px;
      border-radius: 4Px;
      margin: 15Px;
      border-color: #efefef;
      background-color: #FFF;
    }
  }

  // 激活到非激活
  @keyframes ActiveToUnactive {
    from {
      // height: auto;
      height: 95Px;
      border-radius: 0;
      margin: 20Px 0 0;
      padding: 15Px 25Px;
      border-color: #efefef;
      background-color: #FFF;
      box-shadow: 
        0Px -3Px 8Px #dddddd,
        0Px 3Px 8Px #dddddd;
    }

    to {
      height: 37Px;
      border-radius: 0;
      margin: 15Px;
      border-color: transparent;
      background-color: transparent;
    }
  }

  // 图标正常到激活
  @keyframes NormalToActiveIcon {
    from {
      font-size: 18Px;
    }
    to {
      font-size: 26Px;
    }
  }

  // 图标正常到非激活
  @keyframes NormalToUnactiveIcon {
    from {
      font-size: 18Px;
    }
    to {
      font-size: 0Px;
    }
  }

  // 图标非激活到激活
  @keyframes UnactiveToActiveIcon {
    from {
      font-size: 0Px;
    }
    to {
      font-size: 26Px;
    }
  }

  // 图标非激活到正常
  @keyframes UnactiveToNormalIcon {
    from {
      font-size: 0Px;
    }
    to {
      font-size: 18Px;
    }
  }

  // 图标激活到正常
  @keyframes ActiveToNormalIcon {
    from {
      font-size: 26Px;
    }
    to {
      font-size: 18Px;
    }
  }

  // 图标激活到非激活
  @keyframes ActiveToUnactiveIcon {
    from {
      font-size: 26Px;
    }
    to {
      font-size: 0Px;
    }
  }
}