.container {
  height: 100%;
  background-color: #ededed;
  padding: 1Px 15Px;

  .add {
    margin: 10Px 0;
    height: 30Px;
    line-height: 30Px;
    font-size: 13Px;
    &::after {
      border: none;
    }
  }
}