.container {
  height: 100%;
  background-color: #ededed;

  display: flex;
  flex-direction: column;

  .content {
    flex: 1;
  }

  .book {
    box-sizing: border-box;
    height: 100%;
    padding: 20Px 6Px;
  }

  .inner_wrap {
    box-sizing: border-box;
    background-color: #FFF;
    height: 100%;
    border-radius: 8Px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .top {
    padding-top: 35Px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bottom {
    padding-bottom: 40Px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cover {
    width: 120Px;
    height: 160Px;
    border-radius: 4Px;
  }

  .name {
    font-size: 16Px;
    margin-top: 15Px;
  }

  .author_avatar {
    width: 40Px;
    height: 40Px;
    border-radius: 25Px;
  }

  .author {
    font-size: 14Px;
    color: #999;
    margin-top: 8Px;
  }

  .icons {
    margin-top: 12Px;
    display: flex;
  }

  .recommend_warp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10Px;

    .recommend {
      font-size: 14Px;
      color: #999;
      &.active {
        color: red;
      }
    }

    .comment {
      font-size: 14Px;
      color: #999;
      margin-left: 3Px
    }
  }
}
