.gesture_wrap {
  position: fixed;
  padding-top: 70px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.gesture_preview {
  display: flex;
  justify-content: space-around;

  flex-wrap: wrap;
  margin: 0 auto;
  width: 110px;
  height: 110px;
}

.pointer_wrap {
  display: flex;
  justify-content: center;
  width: 33.33%;
  height: 16px;
  
  .pointer {
    display: flex;
    width: 16px;
    height: 16px;
    background-color: #ccc;

    &.active {
      background-color: #ecd487;
    }
  }
}

.tips {
  padding-top: 30px;
  text-align: center;
  font-size: 32px;
  color: #fff;
}

.gesture_main {
  margin-top: 80px;
  position: relative;
  height: 600px;
}

.gesture_canvas {
  position: absolute;
  margin: 0 auto;
  background-color: transparent;
  width: 100%;
  height: 600px;        
}

.forget_pwd {
  margin-top: 50px;
  text-align: center;
  color: #fff;
}