.gesture_wrap {
  position: fixed;
  padding-top: 70px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.gesture_preview {
  margin: 0 auto;
  width: 110px;
  height: 110px;
}

.tips {
  text-align: center;
  font-size: 32px;
  color: #fff;
}

.gesture_main {
  margin-top: 110px;
  display: flex;
  flex-wrap: wrap;
}

.gesture_canvas {
  margin: 0 auto;
  background-color: transparent;
  width: 600px;
  height: 600px;        
}

.overlap {
  margin-top: -600px;
}