.card_wrap {
  background-color: #FFF;
  padding: 0 16Px;
  margin-bottom: 1Px;
}

.content_wrap {
  padding: 15Px 0;
  display: flex;
  align-items: center;
}

.content_left {
  flex: 1
}

.title {
  font-size: 14Px;
  line-height: 1.8;
  color: #333;
}

.xinfo {
  margin-top: 10Px;
  display: flex;
  align-items: center;
  color: #999;
  font-size: 12Px;
}

.content_right {
  width: 75Px;
  height: 75Px;
  margin-left: 15Px;

  .thumb {
    width: 75Px;
    height: 75Px;
    border-radius: 4Px;
  }
}