.profile_container {
  padding: 0 15Px;
  background-color: #FFF;
  height: 100%;

  .userInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200Px;
  }

  .avatar {
    width: 72Px;
    height: 72Px;
    border-radius: 36Px;
    box-shadow: 0 4Px 10Px rgba(0, 0, 0, 0.05);
  }

  .username {
    font-size: 18Px;
    margin: 10Px 0;
  }

  .city {
    font-size: 12Px;
    color: #cccccc;
  }
}

