.auth-lock-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn-auth-lcok {
  width: 200px;
  height: 60px;
  border-radius: 40px;
  background-color: #FAE14C;
  color: #fff;
  line-height: 60px;
  text-align: center;
}