@font-face {
  font-family: 'iconfont'; 
  src: url('./fonts/iconfont.eot');
  src: url('./fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/iconfont.woff') format('woff'),
  url('./fonts/iconfont.ttf') format('truetype'),
  url('./fonts/iconfont.svg#iconfont') format('svg');
}
.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconjian{
  font-family: "iconfont";
  color: red;
  font-size: 20px;
  &:before {
    content: "\e6a0";
  }
}

.icon-iconjian::before { content: '\e6a0' }

.icon-spin {
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg)
  }
}
