.comment_container {
  padding: 0!important;
  .top_tip {
    height: 30Px;
    background-color: #efefef;
    font-size: 12Px;
    line-height: 32Px;
    padding: 0 15Px;
  }

  .comment_ctx {
    margin-top: 15Px;
    padding: 0 15Px;

    display: flex;
    
    .cmt_left {
      width: 40Px;
      height: 40Px;
      margin-right: 15Px;
    }

    .cmt_right {
      flex: 1;
    }

    .top {
      display: flex;
      align-items: center;
    }

    .user_name {
      font-size: 13Px;
      font-weight: bold;
    }

    .content {
      font-size: 13Px;
      line-height: 1.6;
      margin-top: 10Px;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10Px;
    
    .create_time {
      font-size: 12Px;
      color: #ccc;
    }

    .b_right {
      display: flex;
    }
  }
}
