.comment_container {
  padding: 0!important;
  .top_tip {
    height: 30Px;
    background-color: #efefef;
    font-size: 12Px;
    line-height: 32Px;
    padding: 0 15Px;
  }

  .comment_ctx {
    margin-top: 15Px;
    padding: 0 15Px;

    display: flex;
    
    .cmt_left {
      width: 40Px;
      height: 40Px;
      margin-right: 15Px;
    }

    .cmt_right {
      flex: 1;
    }

    .top {
      display: flex;
      align-items: center;
      margin-bottom: 10Px;
    }

    .user_name {
      font-size: 13Px;
      font-weight: bold;
    }

    .content {
      font-size: 14Px;
      line-height: 1.6;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10Px;
    
    .create_time {
      font-size: 12Px;
      color: #ccc;
    }

    .b_right {
      display: flex;
    }

    .c_wrap {
      display: flex;
      align-items: center;
      margin-left: 15Px;
    }
    .number {
      font-size: 12Px;
      color: #999;
      margin-left: 4Px;
    }
  }

  .comment_input_wrap {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50Px;
    display: flex;
    align-items: center;
    background: #f0f0f0;
    box-sizing: border-box;
    padding: 0 10Px;
  }

  .comment_input {
    padding-left: 15Px;
    font-size: 13Px;
    flex: 1;
    height: 35Px;
    background-color: #FFF;
    border-radius: 4Px;
    margin-right: 10Px;
  }

  .comment_sure {
    width: 60Px;
    height: 35Px;
    font-size: 13Px;
    line-height: 35Px;
  }
}
