.comment_container {
  padding: 0!important;
  min-height: 100%;
  background-color: #ededed;

  .top_tip {
    height: 30Px;
    font-size: 12Px;
    line-height: 32Px;
    padding: 0 15Px;
  }

  .comment_ctx {
    padding: 16Px;
    background-color: #FFF;
    margin-bottom: 4Px;

    .top {
      display: flex;
      align-items: center;
      margin-bottom: 10Px;
    }
    .avator {
      width: 20Px;
      height: 20Px;
      border-radius: 10Px;
      overflow: hidden;
      margin-right: 8Px;
    }

    .user_name {
      font-size: 13Px;
      color: #999999;
    }

    .content {
      font-size: 14Px;
      line-height: 1.8;
      color: #333333;
      text-align: justify;
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin-top: 8Px;
    justify-content: space-between;
    
    .create_time {
      font-size: 12Px;
      color: #999999;
    }

    .b_right {
      display: flex;
      padding-right: 10Px;
    }

    .c_wrap {
      display: flex;
      align-items: center;
      margin-left: 15Px;
    }
    .number {
      font-size: 12Px;
      color: #999;
      margin-left: 4Px;
    }
  }

  .comment_input_wrap {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50Px;
    display: flex;
    align-items: center;
    background: #f0f0f0;
    box-sizing: border-box;
    padding: 0 10Px;
  }

  .space {
    height: 50Px;
    text-align: center;
    line-height: 50Px;
    font-size: 12Px;
    color: #999999;
  }

  .comment_input {
    padding-left: 15Px;
    font-size: 13Px;
    flex: 1;
    height: 35Px;
    background-color: #FFF;
    border-radius: 4Px;
    margin-right: 10Px;
  }

  .comment_sure {
    width: 60Px;
    height: 35Px;
    font-size: 13Px;
    line-height: 35Px;
  }
}
